<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="{{ asset('css/security/login.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>
    <body>
    <div class="login-div">
        <div class="login-div-elt">
            <div class="logo"></div>
            <form action="{{ path('log-in') }}" method="post">
                {% if error %}
                    <div class="alert">Nom d'utilisateur ou mot de passe incorrect !</div>
                {% endif %}
                <div class="form-elt">
                    <div class="form-div-elt">
                        <span>
                            <i class="fas fa-user"></i>
                        </span>
                        <input type="email" id="email" name="email"  value="{{ last_username }}" placeholder="Adresse email" required/>
                    </div>
                </div>
                <div class="form-elt ">
                    <div class="form-div-elt">
                        <span>
                            <i class="fas fa-lock"></i>
                        </span>
                        <input type="password" id="password" name="password" placeholder="Mot de passe" required/>
                    </div>
                </div>
                <div class="form-div-submit">
                    <div class="form-div-elt-submit">
                        <button type="submit">
                            Se connecter
                        </button>
                    </div>
                    <div class="form-div-elt-a">
                        <a href={{ path('forgetPassword') }}> Mot de passe oubli&eacute; ?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </body>
</html>
