<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="{{ asset('css/dashboard/dashboard.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>
    <body>
    <div class="board"></div>
    <div class="cards">
        <div class=" card ">
            <div class="card__inner">

                <i class="fa fa-user fa-lg"></i>
                <div class="a">
                    <a>Employe</a>
                </div>
            </div>
        </div>

        <div class=" card">
            <div class="card__inner">
                <div class="a">
                    <a>Voiture</a>
                </div>
                <i class="fa fa-car fa-lg fa-right"></i>
            </div>
        </div>

        <div class=" card">
            <div class="card__inner">
                <i class="fa fa-car fa-lg "></i>
                <div class="a">
                    <a>Marque</a>
                </div>
            </div>
        </div>

        <div class=" card">
            <div class="card__inner">
                <div class="a">
                    <a>Frais</a>
                </div>
                <i class="fa fa-file fa-lg fa-right"></i>
            </div>
        </div>
    </div>
    </body>
</html>