body{
    background-image: url('../../images/bgc.png');
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}
* {
    box-sizing: border-box;
}
.all-card{

    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    min-width: 80%;
    margin-top: 5%;
}
.cards {

    margin: 0 0 0 15%;
    padding: 15px;
    display: flex;
    min-width: 85%;
    min-height: 80%;
    flex-flow: row wrap;
}

.card {
    justify-content: center;
    max-height: 130px;
    display: flex;
    margin: 15px;
    width: 40%;
    transition: all 0.5s ease-in-out;
}


.card:hover .card__inner {
    transform: scale(1.10);

}

.card__inner {
    width: 100%;
    padding: 30px;
    position: relative;
    cursor: pointer;
    display: flex;
    background-color: white;
    color: #323232;
    font-size: 2em;
    align-items: center;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}
.card:after {
     transition: all 0.5s ease-in-out;
 }

.cards .fa {
    position: relative;
    width: 150%;
    left: 0;
    font-size: 2em !important;
}

.card__inner a{
    text-decoration: none;
    color: #323232;
}
.card .a{
    position: absolute;
    text-align: center;
}
.card:nth-child(2n+1) .a{
    right: 20px;
}
.fa-right{
    text-align: right;
}
@media  only screen and (max-width: 1200px){
    .cards{
        display: flex;
    }
    .card{
        height: 200px;
        width: 80%;
    }
    .card__inner{
        align-items: center;
        font-size: 2em;
    }

}
.board{
    min-height: 100vh;
    min-width: 15%;
    background-color: white;
}

.board ul{
    margin-top: 0;
    padding-left: 0;
}
.board li a{
    font-size: 1.5em;
    text-decoration: none;
    color: #323232;
}
.board ul li{
    padding-top: 10px;
    list-style-type: none;
}
.top-board{
    position: relative;
}
.down-board{
    position: absolute;
    min-width: 20%;
    bottom: 0;
}
.board i{
    color: #323232;
    min-width: 50px;
    padding: 10px;
    text-align: center;
}
