<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Demande de réinitialisation du mot de passe</title>
        <style>
            body {
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <p>
            Bonjour <b>{{ user.lastName }} {{ user.firstName }}</b>,<br>
            <br>
            Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe :<br>
            <a href="">Réinitialiser mon mot de passe</a>
        </p>
    </body>
</html>